+++
title = "CleverGo"
linkTitle = "CleverGo"
+++

{{< blocks/cover title="CleverGo Web 开发框架" image_anchor="top" height="full" color="dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		准备开始 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/clevergo/clevergo">
		GitHub <i class="fab fa-github ml-2"></i>
	</a>
	<p class="lead mt-5">一个用 Go 语言编写的<strong>轻量级</strong>、<strong>高性能</strong>和<strong>功能丰富</strong>的 HTTP Web 开发框架。</p>
	
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section color="primary" >}}

{{% blocks/feature icon="fa-book" title="文档" %}}
<p><a href="/docs/">English</a> | <a href="/zh/docs/">简体中文</a></p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="贡献" url="https://github.com/clevergo/clevergo" %}}
We do a [Pull Request](https://github.com/clevergo/clevergo/pulls) contributions workflow on **GitHub**.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-question" title="参与" url="https://github.com/clevergo/clevergo/issues/new" %}}
提问、Bug 反馈或者请求新功能。
{{% /blocks/feature %}}

{{< /blocks/section >}}
