<p>
    <a href="https://github.com/clevergo/clevergo">
        <img src="https://img.shields.io/github/stars/clevergo/clevergo.svg?style=flat" alt="Stars">
    </a>
    <a href="https://github.com/clevergo/clevergo">
        <img src="https://img.shields.io/github/forks/clevergo/clevergo.svg?style=flat" alt="Forks">
    </a>
    <a href="https://travis-ci.org/clevergo/clevergo">
        <img src="https://img.shields.io/travis/clevergo/clevergo?style=flat" alt="Build Status">
    </a>
    <a href="https://coveralls.io/github/clevergo/clevergo">
        <img src="https://img.shields.io/coveralls/github/clevergo/clevergo?style=flat" alt="Coverage Status">
    </a>
    <a href="https://goreportcard.com/report/github.com/clevergo/clevergo">
        <img src="https://goreportcard.com/badge/github.com/clevergo/clevergo?style=flat" alt="Go Report Card">
    </a>
    <a href="https://github.com/clevergo/clevergo/releases">
        <img src="https://img.shields.io/github/release/clevergo/clevergo.svg?style=flat" alt="Release">
    </a>
    <a href="https://pkg.clevergo.tech/clevergo/clevergo">
        <img src="https://img.shields.io/endpoint?url=https://pkg.clevergo.tech/api/badges/downloads/total/clevergo.tech/clevergo&style=flat" alt="Downloads">
    </a>
    <a href="https://t.me/clevergotech">
        <img src="https://img.shields.io/badge/chat-telegram-blue?style=flat" alt="Chat">
    </a>
    <a href="https://forum.clevergo.tech">
        <img src="https://img.shields.io/badge/community-forum-blue?style=flat" alt="Community">
    </a>
</p>

    