+++
title = "CleverGo"
linkTitle = "CleverGo"
+++

{{< blocks/cover title="CleverGo Web Framework" image_anchor="top" height="fill" color="dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Getting Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/clevergo/clevergo">
		GitHub <i class="fab fa-github ml-2"></i>
	</a>
	<p class="lead mt-5">A <strong>lightweight</strong>, <strong>high performance</strong> and <strong>feature rich</strong> HTTP web framework written in Go.</p>
</div>
{{< /blocks/cover >}}

{{< blocks/section color="primary" >}}

{{% blocks/feature icon="fa-book" title="Documentation" %}}
<p><a href="/docs/">English</a> | <a href="/zh/docs/">简体中文</a> | <a href="/zh-hant/docs/">繁體中文</a></p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/clevergo/clevergo" %}}
We do a [Pull Request](https://github.com/clevergo/clevergo/pulls) contributions workflow on **GitHub**.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-question" title="Get Involved" url="https://github.com/clevergo/clevergo/issues/new" %}}
For asking questions, reporting bugs or requesting new features.
{{% /blocks/feature %}}

{{< /blocks/section >}}
