+++
title = "CleverGo"
linkTitle = "CleverGo"
+++

{{< blocks/cover title="CleverGo Web 開發框架" image_anchor="top" height="fill" color="dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		準備開始 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/clevergo/clevergo">
		GitHub <i class="fab fa-github ml-2"></i>
	</a>
	<p class="lead mt-5">一個用 Go 語言編寫的<strong>輕量級</strong>、<strong>高性能</strong>和<strong>功能豐富</strong>的 HTTP Web 開發框架。</p>
</div>
{{< /blocks/cover >}}

{{< blocks/section color="primary" >}}

{{% blocks/feature icon="fa-book" title="文檔" %}}
<p><a href="/docs/">English</a> | <a href="/zh-hant/docs/">簡體中文</a> | <a href="/zh-hant/docs/">繁體中文</a></p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="貢獻" url="https://github.com/clevergo/clevergo" %}}
We do a [Pull Request](https://github.com/clevergo/clevergo/pulls) contributions workflow on **GitHub**.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-question" title="參與" url="https://github.com/clevergo/clevergo/issues/new" %}}
提問、Bug 反饋或者請求新功能。
{{% /blocks/feature %}}

{{< /blocks/section >}}
