<p>
    <a href="https://travis-ci.org/clevergo/clevergo"><img src="https://img.shields.io/travis/clevergo/clevergo?style=for-the-badge" alt="Build Status"></a>
    <a href="https://coveralls.io/github/clevergo/clevergo"><img src="https://img.shields.io/coveralls/github/clevergo/clevergo?style=for-the-badge" alt="Coverage Status"></a>
    <a href="https://goreportcard.com/report/github.com/clevergo/clevergo"><img src="https://goreportcard.com/badge/github.com/clevergo/clevergo?style=for-the-badge" alt="Go Report Card"></a>
    <a href="https://github.com/clevergo/clevergo/releases"><img src="https://img.shields.io/github/release/clevergo/clevergo.svg?style=for-the-badge" alt="Release"></a>
    <a href="https://github.com/clevergo/clevergo"><img src="https://img.shields.io/github/stars/clevergo/clevergo.svg?style=for-the-badge" alt="Stars"></a>
    <a href="https://github.com/clevergo/clevergo"><img src="https://img.shields.io/github/forks/clevergo/clevergo.svg?style=for-the-badge" alt="Forks"></a>
</p>
    